:root {
    --carotene-color-bg-brand-solid: #f60;
    --carotene-color-fg-on-solid: #ffffff;
    --carotene-color-bg-neutral-inverted: #2a3038;
    --carotene-color-fg-neutral-inverted: #fff;
    --carotene-color-stroke-field: #dcdee3;
    --carotene-color-palette-gray-900: #2a3038;
    --carotene-color-fg-neutral-subtle:#868b94;
    --carotene-color-fg-neutral: #2a3038;
    --carotene-color-palette-gray-200: #f3f4f5;
    --carotene-color-bg-layer-default: #fff;

}

.neutralSubtle {
    color: var(--carotene-color-fg-neutral-subtle);
}

.color_neutral {
    color: var(--carotene-color-fg-neutral);
}

.backgroundColor_layerDefault {
    background-color: var(--carotene-color-bg-layer-default);
}