.position_relative_base {
    position: relative;
}

.position_absolute_base {
    position: absolute;
}

.display_none_base {
    display: none;
}

.display_block_base {
    display: block;
}

.display_flex_base {
    display: flex;
}

.justifyContent_center_base {
    justify-content: center;
  }
  
.alignItems_center_base {
    align-items: center;
}

.justifyContent_spaceBetween_base {
    justify-content: space-between;
}

.display_inlineFlex_base {
    display: inline-flex;
}

.flexWrap_wrap_base {
    flex-wrap: wrap;
}

.flexDirection_column_base {
    flex-direction: column;
}

.alignItems_flexStart_base {
    align-items: flex-start;
}

.flexShrink_0_base {
    flex-shrink: 0;
}

.overflow_hidden {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .display_none_small {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .display_inlineFlex_small {
        display: inline-flex;
    }
}

@media screen and (min-width: 992px) {
    .display_none_medium {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .display_block_medium {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .display_flex_medium {
        display: flex;
    }
}