.display_flex_base {
    display: flex;
}

.justifyContent_center_base {
    justify-content: center;
  }
  
.alignItems_center_base {
    align-items: center;
}

.justifyContent_spaceBetween_base {
    justify-content: space-between;
}

.display_inlineFlex_base {
    display: inline-flex;
}

.flexWrap_wrap_base {
    flex-wrap: wrap;
}

.flexDirection_column_base {
    flex-direction: column;
}

.alignItems_flexStart_base {
    align-items: flex-start;
}

@media screen and (min-width: 768px) {
    .display_none_small {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .display_inlineFlex_small {
        display: inline-flex
;
    }
}