.main_header {
    position: sticky;
    top: 0;
    z-index: var(--carotene-z-index-sticky);
  }
  
.main_header_box[data-border=true] {
    border-color: var(--carotene-color-palette-gray-200);
}

.main_header_box {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--carotene-color-bg-layer-default);
}

.main_header_search_btn_large[data-show=true] {
    visibility: visible;
  }
  
  .main_header_search_btn_large_div {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .main_header_search_small_btn {
    background-color: var(--carotene-color-bg-neutral);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 100px;
    transition: background-color .15s;
  
    height: 32px;
    padding-inline: 12px;
  }
  
  .main_header_search_small_svg {
    width: 18px;
    height: 18px;
  }
  
  .main_header_search_btn_small[data-show=true] {
    visibility: visible;
  }
  
  .main_header_search_div_small {
    border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
  }
  
  .main_header_hamberger_btn_small {
    width: 24px;
    height: 24px;
  }
  
  .main_header_hamberger_div_small {
    transform: translate(-50%, -50%);
  }

  .app_download_btn_color {
    background-color: var(--carotene-color-bg-brand-solid);
    color: var(--carotene-color-fg-on-solid);
  }
  
  .app_download_btn_layout {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    vertical-align: top;
    transition-duration: var(--carotene-duration-2);
    transition-timing-function: var(--carotene-timing-function-standard);
    transition-property: background-color, color;
  }
  
  .app_download_btn_font {
    font-size: var(--carotene-font-size-100);
    line-height: var(--carotene-body-line-height-small);
    font-weight: var(--carotene-font-weight-semibold);
    height: var(--carotene-uniform-height-medium);
    padding-inline: var(--carotene-spacing-3);
    gap: var(--carotene-spacing-0\.5);
    border-radius: var(--carotene-radius-1);
  }

  .main_menu_wrap {
    display: none;
  }

  @media screen and (min-width: 992px) {
    .main_menu_wrap {
        display: block;
    }
  }

  .main_menu_wrap_ul {

  }

  .main_menu_wrap_ul_li_div {
    position: relative;
  }

  .main_menu_wrap_ul_a {
    color: inherit;
    font-size: var(--carotene-font-size-200);
    font-weight: var(--carotene-font-weight-semibold);
    line-height: var(--carotene-body-line-height-medium);
    transition: color .2s ease;
  }


  .main_menu_wrap_ul:has(.main_menu_wrap_ul_li_multi_div_btn[data-state=open]) {
    color: var(--carotene-color-fg-neutral-subtle);
}

.main_menu_wrap_ul:has(.main_menu_wrap_ul_li_multi_div_btn:hover) {
  color: var(--carotene-color-fg-neutral-subtle);
}

.main_menu_wrap_ul:has(.main_menu_wrap_ul_a_single:hover) {
  color: var(--carotene-color-fg-neutral-subtle);
}

.main_menu_wrap_ul_a_single:hover {
  color: var(--carotene-color-fg-neutral);
}


  .main_menu_wrap_ul_li_multi_div_btn[data-state=open] {
    color: var(--carotene-color-fg-neutral);
  }

  .main_menu_wrap_ul_li_multi_div {
    left: var(--carotene-spacing-2\.5);
    top: 100%;
  }

  .main_menu_wrap_ul_li_multi_div[data-stae=open] {
    --carotene-enter-translate-x: 0;
    --carotene-enter-translate-y: -10%;
    --carotene-enter-opacity: 0;
    --carotene-enter-scale: 1;
    animation: carotene-enter;
    animation-duration: var(--carotene-duration-3);
    animation-timing-function: var(--carotene-timing-function-enter);
  }

  .main_menu_wrap_ul_li_multi_div_ul {
    box-shadow: 0 2px 12px #0000001a;
    white-space: nowrap;
  }