@import './colors.css';
@import './spacing.css';
@import './border.css';
@import './typography.css';
@import './size.css';

@import './searchbar.css';

:root {
    --carotene-z-index-modal: 300;
}

.search_btn {
    font-size: 16px;
    height: 48px;
    background-color: var(--carotene-color-bg-neutral-inverted);
    color: var(--carotene-color-fg-neutral-inverted);
    font-weight: var(--carotene-font-weight-semibold);
    color: var(--carotene-color-fg-neutral-inverted);

    border-radius: 100px;
    transition: background-color .15s;
    appearance: none;
    border: none;
}

.search_btn_font {
    display: block;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: var(--carotene-max-lines);
}

@media screen and (min-width: 1200px) {
    .search_btn_font {
        --carotene-max-lines: var(--carotene-max-lines-large);
    }
}

.search_btn_svg {
    width: 18px;
    height: 18px;
}


.searchbar_category_btn_small {
    display: block;
}

@media screen and (min-width: 992px) {
    .searchbar_category_btn_small {
        display: none;
    }
}

.searchbar_category_btn_right_border {
    border-right: 1px solid var(--carotene-color-stroke-field);
}

.searchbar_category_btn_large {
    display: none;
}

@media screen and (min-width: 992px) {
    .searchbar_category_btn_large {
        display: block;
    }
}

.searchbar_category_btn_div {
    font-size: var(--carotene-font-size-100);
    line-height: var(--carotene-body-line-height-small);
    font-weight: var(--carotene-font-weight-semibold);
}

.search_area {
    flex-grow: 1;
}

.search_input {
    height: 48px;
    padding: var(--carotene-spacing-3) var(--carotene-spacing-12) var(--carotene-spacing-3) var(--carotene-spacing-4);

    width: 100%;
    line-height: 115%;
    font-size: var(--carotene-font-size-200);
    color: var(--carotene-color-palette-gray-900);
    background: none;
}

.search_action_btn {
    position: absolute;
    width: var(--carotene-size-7);
    height: var(--carotene-size-7);
    display: flex;
    right: 12px;
    transform: translateY(-50%);
    transition: background-color;
    transition-duration: .15s;
    background-color: var(--carotene-color-bg-neutral-inverted);
    border-radius: var(--carotene-radius-full);
}

@media screen and (min-width: 992px) {
    .search_area {
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .search_bar_width {
        max-width: 608px;
    }
}

@media screen and (min-width: 992px) {
    .search_bar_width {
        max-width: 726px;
    }
}

@media screen and (min-width: 1200px) {
    .search_bar_width {
        max-width: 754px;
    }
}


.search_bar_width {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .searchbar_input_wrap {
        overflow: hidden;
    }
}

.searchbar_input_wrap {
    flex: 1;

}

.popular_search_word_wrap {
    padding-block: 12px;
    white-space: nowrap;
}

.popular_search_word_title {
    display: block;

}

@media screen and (min-width: 992px) {
    .popular_search_word_atag {
        height: 16px;
        border: 0;
        color: var(--carotene-color-fg-neutral-muted);
    }
}

.category_word {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    /* text-align: left; */
}

.category_word.current {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.category_word.prev {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
    z-index: 2;
}

.category_word.fade-up {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
}

.category_view_ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
    .category_view_ul {
        grid-template-columns: repeat(4, 1fr);
        max-width: 544px;
    }
}

@media screen and (min-width: 992px) {
    .category_view_ul {
        grid-template-columns: repeat(7, 1fr);
        max-width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .category_view_ul {
        max-width: 900px;
    }
}


.category_view_li {
    min-width: 120px;
}

@media screen and (min-width: 768px) {
    .category_view_li {
        min-width: 124px;
    }
}

@media screen and (min-width: 992px) {
    .category_view_li {
        min-width: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .category_view_li {
        min-width: 110px;
    }
}


.category_view_a {
    transition: background-color .15s;
}


.location_section_wrap {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .location_section_wrap {
        margin-bottom: 250px;
    }
}

@media screen and (min-width: 992px) {
    .location_section_wrap {
        margin-bottom: 370px;
    }
}

@media screen and (min-width: 1200px) {
    .location_section_wrap {
        margin-bottom: 354px;
    }
}

.location_section_ul {
    max-width: 840px;
    column-gap: 10px;
    row-gap: 16px;
}

.location_section_a {
    transition: background-color .15s;
    padding-inline: 14px;
}

.zIndex_modal {
    z-index: var(--carotene-z-index-modal);
}

[dir="ltr" i] {
    unicode-bidi: isolate;
}

.cursor_pointer {
    cursor: pointer;
}

