.prdouct_main_warp {
    scroll-margin-top: 68px;
}

@media screen and (min-width: 992px) {
    .prdouct_main_warp {
        scroll-margin-top: 72px;
    }
}

.product_main_wrap_bc_ol, .product_main_wrap_bc_li {
    display: inline-flex;
    gap: var(--carotene-spacing-1);
}

.product_main_wrap_bc_a {
    color: var(--carotene-color-fg-neutral-muted);
    font-size: var(--carotene-font-size-100);
    line-height: var(--carotene-body-line-height-small);
    font-weight: var(--carotene-font-weight-regular);
}

.product_main_wrap_bc_a_span {
    display: inline-flex;
    align-items: center;
    color: var(--carotene-color-fg-neutral-muted);
}

.product_main_wrap_bc_sub_span_large {
    color: var(--carotene-color-fg-neutral-muted);
    font-size: var(--carotene-font-size-100);
    line-height: var(--carotene-body-line-height-small);
    font-weight: var(--carotene-font-weight-semibold);
}

.product_main_wrap_bc_li:last-of-type>.product_main_wrap_bc_sub_span_small {
    display: none;
}

.product_main_wrap_bc_sub_span_small {
    display: inline-flex;
    align-items: center;
    color: var(--carotene-color-fg-neutral-muted);
}


@media screen and (min-width: 992px) {
    .product_main_wrap_aside {
        width: 198px;
        min-width: 198px;
    }
}

@media screen and (min-width: 1200px) {
    .product_main_wrap_aside {
        width: 242px;
        min-width: 242px;
    }
}

.product_main_wrap_aside_section_div_a {
    font-size: var(--carotene-font-size-200);
    line-height: var(--carotene-body-line-height-medium);
    font-weight: var(--carotene-font-weight-semibold);
    min-height: var(--carotene-uniform-height-medium);
    gap: var(--carotene-spacing-2);

    display: flex;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
}

.product_main_wrap_aside_section_div_a_div {
    height: var(--carotene-size-5);
    width: var(--carotene-size-5);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: calc(var(--carotene-uniform-height-medium) / 2 - var(--carotene-size-5) / 2);
    border-width: var(--carotene-border-width-1);
    border-style: solid;
    border-color: var(--carotene-color-stroke-control);
    border-radius: var(--carotene-radius-1);
}

.product_main_wrap_aside_section_div_a_div[data-state="checked"] {
    border-width: 0;
    background-color: var(--carotene-color-bg-brand-solid);
}

.product_main_wrap_aside_section_div_a_div[data-hover] {
    background-color: var(--carotene-color-bg-layer-brand-hover);
}

.product_main_wrap_aside_section_div_a_div[data-state="checked"][data-hover]{
    background-color: var(--carotene-color-bg-brand-solid-hover);
}

.product_main_wrap_aside_section_div_a_svg {
    height: var(--carotene-size-4);
    width: var(--carotene-size-4);

    display: none;
    flex-shrink: 0;
    color: var(--carotene-color-fg-on-solid);
}

.product_main_wrap_aside_section_div_a_div[data-state="checked"] 
.product_main_wrap_aside_section_div_a_svg {
  display: inline-block;
}

.product_main_wrap_aside_section_div_a_span {
    font-size: var(--carotene-font-size-200);
    line-height: var(--carotene-body-line-height-medium);
    font-weight: var(--carotene-font-weight-regular);

    -webkit-user-select: none;
    user-select: none;
    margin-top: 4px;
    color: var(--carotene-color-fg-neutral);
}

.product_main_wrap_aside_section_border {
    border-bottom-width: var(--carotene-border-width-1);
    border-style: solid;
    width: 100%;
    border-color: var(--carotene-color-stroke-decorative);
    height: 1px;
}