:root {
--carotene-spacing-0\.5: 0.125rem;
--carotene-spacing-1: .25rem;
--carotene-spacing-1\.5: .375rem;
--carotene-spacing-2: .5rem;
--carotene-spacing-2\.5: .625rem;
--carotene-spacing-3: 0.75rem;
--carotene-spacing-4: 1rem;
--carotene-spacing-5: 1.25rem;
--carotene-spacing-7: 1.75rem;
--carotene-spacing-8: 2rem;
--carotene-spacing-10: 2.5rem;
--carotene-spacing-12: 3rem;
--carotene-spacing-16: 4rem;
--carotene-spacing-20: 5rem;
--carotene-spacing-32: 8rem;
}

.mx_auto {
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .mr_3_medium {
        margin-right: var(--carotene-spacing-3);
    }
}

@media screen and (min-width: 992px) {
    .pl1\.5_medium {
        padding-left: var(--carotene-spacing-1\.5);
    }
}

@media screen and (min-width: 992px) {
    .pb_3_medium {
        padding-bottom: var(--carotene-spacing-3);
    }
}

@media screen and (min-width: 992px) {
    .pt_3_medium {
        padding-top: var(--carotene-spacing-3);
    }
}



@media screen and (min-width: 768px) {
    .mb_12_small {
        margin-bottom: var(--carotene-spacing-12);
    }
}

@media screen and (min-width: 1200px) {
    .mb_16_large {
        margin-bottom: var(--carotene-spacing-16);
    }
}

@media screen and (min-width: 768px) {
    .mt_32_small {
        margin-top: var(--carotene-spacing-32);
    }
}

.mt_12_base {
    margin-top: var(--carotene-spacing-12);
}

.p_0_base {
    padding: 0;
}

.pl_0_base {
    padding-left: 0;
}

.pr_0_base {
    padding-right: 0;
}

.pt_0_base {
    padding-top: 0;
}

.pb_0_base {
    padding-bottom: 0;
}

.pl_1_base {
    padding-left: var(--carotene-spacing-1);
}

.pr_1_base {
    padding-right: var(--carotene-spacing-1);
}

.pt_1_base {
    padding-top: var(--carotene-spacing-1);
}

.pb_1_base {
    padding-bottom: var(--carotene-spacing-1);
}

.pl_1\.5_base {
    padding-left: var(--carotene-spacing-1\.5);
}

.pr_1\.5_base {
    padding-right: var(--carotene-spacing-1\.5);
}

.pt_1\.5_base {
    padding-top: var(--carotene-spacing-1\.5);
}

.pb_1\.5_base {
    padding-bottom: var(--carotene-spacing-1\.5);
}

.pl_2_base {
    padding-left: var(--carotene-spacing-2);
}

.pr_2_base {
    padding-right: var(--carotene-spacing-2);
}

.pt_2_base {
    padding-top: var(--carotene-spacing-2);
}

.pb_2_base {
    padding-bottom: var(--carotene-spacing-2);
}


.pl_2\.5_base {
    padding-left: var(--carotene-spacing-2\.5);
}

.pr_2\.5_base {
    padding-right: var(--carotene-spacing-2\.5);
}

.pt_2\.5_base {
    padding-top: var(--carotene-spacing-2\.5);
}

.pb_2\.5_base {
    padding-bottom: var(--carotene-spacing-2\.5);
}


/* [margin] */

.mr_1_base {
    margin-right: var(--carotene-spacing-1);
}

.ml_1_base {
    margin-left: var(--carotene-spacing-1);
}
  
.mr_4_base {
    margin-right: var(--carotene-spacing-4);
}
  
.mr_4_base {
    margin-right: var(--carotene-spacing-4);
}

.mt_7_base {
    margin-top: var(--carotene-spacing-7);
}


@media screen and (min-width: 768px) {
    .mr_1\.5_small {
        margin-right: var(--carotene-spacing-1\.5);
    }
}

@media screen and (min-width: 768px) {
    .mt_10_small {
        margin-top: var(--carotene-spacing-10);
    }
}

@media screen and (min-width: 768px) {
    .mt_12_small {
        margin-top: var(--carotene-spacing-12);
    }
}

.gap_0\.5_base {
    gap: var(--carotene-spacing-0\.5);
}

.gap_4_base {
    gap: var(--carotene-spacing-4);
}

.gap_8_base {
    gap: var(--carotene-spacing-8);
}

.pl_4_base {
    padding-left: var(--carotene-spacing-4);
}


.pr_4_base {
    padding-right: var(--carotene-spacing-4);
}

.pb_3_base {
    padding-bottom: var(--carotene-spacing-3);
}

.pt_3_base {
    padding-top: var(--carotene-spacing-3);
}


@media screen and (min-width: 768px) {
    .pl_10_small {
        padding-left: var(--carotene-spacing-10);
    }
}

@media screen and (min-width: 992px) {
    .pl_16_medium {
        padding-left: var(--carotene-spacing-16);
    }
}

@media screen and (min-width: 1200px) {
    .pl_20_large {
        padding-left: var(--carotene-spacing-20);
    }
}

@media screen and (min-width: 768px) {
    .pr_10_small {
        padding-right: var(--carotene-spacing-10);
    }
}

@media screen and (min-width: 992px) {
    .pr_16_medium {
        padding-right: var(--carotene-spacing-16);
    }
}

@media screen and (min-width: 1200px) {
    .pr_20_large {
        padding-right: var(--carotene-spacing-20);
    }
}

.pb_4_base {
    padding-bottom: var(--carotene-spacing-4);
}

.pt_4_base {
    padding-top: var(--carotene-spacing-4);
}

.top_0 {
    top: 0;
}

.zIndex_2 {
    z-index: 2;
}

