:root {
    --carotene-font-size-75: .75rem;
    --carotene-font-size-100: 0.875rem;
    --carotene-font-size-200: 1rem;
    --carotene-font-size-300: 1.25rem;
    --carotene-font-size-400: 1.5rem;
    --carotene-font-size-500: 1.75rem;
    
    --carotene-body-line-height-small: 1.25rem;
    
    
    
    --carotene-font-weight-regular: 400;
    --carotene-font-weight-semibold: 600;
    --carotene-font-weight-bold: 700;
}

.fontSize_100_base {
    font-size: var(--carotene-font-size-100);
}

.fontSize_200_base {
    font-size: var(--carotene-font-size-200);
}

.fontWeight_semibold {
    font-weight: var(--carotene-font-weight-semibold);
}

.fontWeight_bold {
    font-weight: var(--carotene-font-weight-bold);
}

.fontWeight_regular {
    font-weight: var(--carotene-font-weight-regular);
}

.fontSize_300_base {
    font-size: var(--carotene-font-size-300);
}

.fontSize_400_base {
    font-size: var(--carotene-font-size-400);
}

@media screen and (min-width: 992px) {
    .fontSize_500_medium {
        font-size: var(--carotene-font-size-500);
    }
}

.textDecoration_underline {
    text-decoration: underline;
}