:root {
    --carotene-font-size-100: 0.875rem;
    --carotene-font-size-200: 1rem;
    
    --carotene-body-line-height-small: 1.25rem;
    
    
    
    --carotene-font-weight-regular: 400;
    --carotene-font-weight-semibold: 600;
}

.fontSize_100_base {
    font-size: var(--carotene-font-size-100);
}

.fontSize_200_base {
    font-size: var(--carotene-font-size-200);
}

.fontWeight_semibold {
    font-weight: var(--carotene-font-weight-semibold);
}